@import "../../assets/styles/partials/allPartialFile";

.customPagination {
    .Mui-selected {
      background-color: $primary_orange !important;
      color: $primary_white;
    }
    .MuiButtonBase-root {
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
    }
  }
  