// gray
$black: #000000;
$primary_black: #313131;
$primary_grey: #777777;
$primary_grey_light: #CDCDCD;
$primary_grey_border: #ECECEC;
$primary_white: #ffffff;
// orange
$primary_orange: #F57E2A;
$primary_orange_light: #fdecdf;
// red  
$primary_red: #E21D25;
$primary_green: #34A853;
$primary_red_delete: #E00000;

