// blue
$primary_blue: #062c80;
$primary_blue_light: #0066ff;
$primary_blue_light_2: #f7f8fc;
$primary_blue_gradient: linear-gradient(
  188.27deg,
  $primary_blue_light 0.35%,
  $primary_blue 82.14%
);
$primary_yellow: #f2d351;
// grey
$primary_grey_900: #1c1d21;
$primary_grey_800: #292a30;
$primary_grey_700: #41434a;
$primary_grey_600: #575961;
$primary_grey_500: #7c7f87;
$primary_grey_400: #9ea0a8;
$primary_grey_300: #bdbfc7;
$primary_grey_200: #ced0d7;
$primary_grey_150: #dfe1e6;
$primary_grey_100: #eaebef;
$primary_grey_50: #f0f1f5;
$primary_grey_10: #f6f6f8;
//  pink
$primary_pink_light: #f7f8e0;
$primary_red: #eb3710;
$primary_red3: #f44336;

$primary_grey: #d9d9d9;
$primary_grey_light: #bebebe;
$primary_grey_dark: #868686;
// green
$primary_green: #22d263;
$primary_green_light: #89d2291f;
$primary_green_dark: #468511;
// black
$primary_black: #000000;
$primary_black_light: #41434a;
$primary_black_second: #1e1f23;

// white
$primary_white: #ffffff;
$primary_white_light: #f0f0f0;
// brown
$primary_brown: #993f21;
$primary_brown_light: #ca59371a;
// orange
$primary_orange: #c2550c;
$primary_orange_light: #fff5eb;
