$btn_shadow: 0px -5px 100px rgba(77, 77, 77, 0.25);
$header_height: 127px;

$border_radius_xs: 8px;
$border_radius_sm: 10px;
$border_radius_md: 12px;
$border_radius_lg: 16px;
$border_radius_xl: 20px;
$border_radius_50: 50px;

// box shadows
$card_shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);

// spacing
$spacing_5: 5px;
$spacing_10: 10px;
$spacing_15: 15px;
$spacing_20: 20px;
$spacing_60: 60px;
$spacing_sm: 12px;
$spacing_md: 24px;
$spacing_lg: 32px;
$spacing_xl: 64px;
$spacing_xxl: 77px;
// percentage
$percentage_col_1: 8.33%;
$percentage_col_2: 16.66%;
$percentage_col_3: 25%;
$percentage_col_4: 33.33%;
$percentage_col_5: 41.67%;
$percentage_col_6: 50%;
$percentage_col_7: 58.33%;
$percentage_col_8: 66.66%;
$percentage_col_9: 75%;
$percentage_col_10: 83.33%;
$percentage_col_11: 91.66%;
$percentage_col_12: 100%;
