@import "../../../assets/styles/partials/allPartialFile";
.mainVerifyOTP {
  display: flex;
  .defaultForm {
    flex: 1;
    display: flex;
    align-items: center;
    @include mediaQueryScreen(tablet) {
      max-width: 450px;
      margin: 0 auto;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0 100px 0 40px;
      @include mediaQueryScreen(desktopX) {
        padding: 15px 100px 0 40px;
      }
      @include mediaQueryScreen(desktopXX) {
        padding: 3vw 7vw 3vw 3vw;
      }
      @include mediaQueryScreen(desktop) {
        padding: 25px 30px 25px 30px;
      }
      @include mediaQueryScreen(tablet) {
        padding: 30px 15px 30px 15px;
      }
      flex: 1;
      .formHeader {
        @include mediaQueryScreen(tablet) {
          text-align: center;
        }
        img {
          @include mediaQueryScreen(desktopXX) {
            width: 15vw;
          }
        }
        h1 {
          @include fontStyle($font_32, $primary_black, $font_weight_400);
          margin: 15px 0 10px;
          @include mediaQueryScreen(desktopXX) {
            font-size: 2.5vw;
            margin: 1vw 0;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_24;
            margin: 10px 0 5px;
          }
          span {
            color: $primary_orange;
          }
        }
        p {
          @include fontStyle($font_20, $primary_black, $font_weight_300);
          margin: 0 0 10px;
          span {
            color: $primary_orange;
          }
          @include mediaQueryScreen(desktopXX) {
            font-size: 1vw;
            margin-bottom: 1vw;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_16;
          }
          @include mediaQueryScreen(phoneX) {
            br{
              display: none;
            }
          }
        }
      }
      .inputMain {
        width: 100%;
        @include alignCenter(center, center, 5px);
        position: relative;
        @include mediaQueryScreen(desktopXX) {
          gap: 0.3vw;
          font-size: 1vw;
        }
        .inputField {
          padding: 10px;
          height: 71px;
          width: 87px;
          text-align: center;
          background: $primary_white;
          border: 1px solid #dfdfdf;
          border-radius: 15px;
          @include fontStyle($font_32, $primary_black, $font_weight_900);
          outline: none;
          @include mediaQueryScreen(desktopXX) {
            border-radius: 1vw;
            padding: 1vw;
            width: 6vw;
            height: 4vw;
            font-size: 2vw;
          }
          @include mediaQueryScreen(desktop) {
            height: 60px;
            width: 70px;
            font-size: $font_24;
          }
          @include mediaQueryScreen(tabletX) {
            height: 55px;
            width: 65px;
            font-size: $font_20;
          }
          @include mediaQueryScreen(tablet) {
            height: 71px;
            width: 87px;
          }
          @include mediaQueryScreen(phoneX) {
            height: 50px;
            width: 58px;
          }
          &::placeholder {
            color: #a4a4a4;
          }
        }
        
      }
      .errormsg{
        @include alignCenter(center, center, 12px);
        @include fontStyle($font_11, $primary_red, $font_weight_400);
        margin-top: 10px;
        letter-spacing: 1px;
        @include mediaQueryScreen(desktopXX) {
            font-size: 0.8vw;
        }
        @include mediaQueryScreen(tabletX) {
          margin-top: 0;
        }
        > div {
          width: 93px;
          text-align: center;
          @include mediaQueryScreen(desktopXX) {
            width: 7vw;
          }
          @include mediaQueryScreen(desktop) {
            width: 84px;
            font-size: $font_10;
          }
          @include mediaQueryScreen(tabletX) {
            width: 72px;
          }
          @include mediaQueryScreen(tablet) {
            width: 93px;
          }
          @include mediaQueryScreen(phoneX) {
            width: 60px;
          }
          
        }
      }
      button {
        margin-top: 15px;
        font-weight: 400;
        padding: 10px;
        border: 0;
        background-color: $primary_orange;
        border-radius: 48px;
        cursor: pointer;
        box-shadow: 0 4px 5px 0 #f57e2a;
        @include fontStyle($font_24, $primary_white, $font_weight_400);
        @include mediaQueryScreen(desktopXX) {
          padding: 0.7vw;
          border-radius: 7vw;
          font-size: 1.5vw;
          margin-top: 1vw;
        }
        @include mediaQueryScreen(desktop) {
          font-size: $font_20;
        }
        @include mediaQueryScreen(phoneX) {
          font-size: $font_16;
        }
      }
    }

    .signupLink {
      margin-top: 5px;
      margin-bottom: 0;
      flex-direction: column;
      @include alignCenter(center, center, 1.5rem);
      .signupRow {
        @include mediaQueryScreen(desktopXX) {
          margin-top: 0.7vw;
        }
        span {
          @include fontStyle($font_20, $primary_black, $font_weight_300);
          @include mediaQueryScreen(desktopXX) {
            font-size: 1vw;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_16;
          }
          @include mediaQueryScreen(tablet) {
            font-size: $font_14;
          }
          @include mediaQueryScreen(phoneX) {
            font-size: $font_14;
          }
        }
        .linkSignup {
          @include fontStyle($font_20, $primary_orange, $font_weight_400);
          @include mediaQueryScreen(desktopXX) {
            font-size: 1vw;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_16;
          }
          @include mediaQueryScreen(tablet) {
            font-size: $font_14;
          }
          @include mediaQueryScreen(phoneX) {
            font-size: $font_14;
          }
        }
      }
    }
  }
  .rightBanner {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @include mediaQueryScreen(tablet) {
      display: none;
    }
    .bannerHeading{
      position: fixed;
      z-index: 9;
      width: 565px;
      right: 0;
      bottom: 0;
      text-align: center;
      padding: 15px;
      @include fontStyle($font_66, $primary_white, $font_weight_400);
      line-height: 66px;
      @include mediaQueryScreen(desktopX) {
        font-size: 4vw;
        right: 9vw;
        width: auto;
      }
      @include mediaQueryScreen(desktopXX) {
        font-size: 4vw;
        line-height: 4vw;
        padding-bottom: 1vw;
      }
      @include mediaQueryScreen(desktop) {
        font-size: $font_42;
        width: 450px;
        line-height: 45px;
      }
      @include mediaQueryScreen(tabletX) {
        font-size: $font_32;
        width: 385px;
        line-height: 35px;
      }
    }
    img {
      position: fixed;
      object-fit: cover;
      right: 0;
      @include mediaQueryScreen(desktop) {
        width: 450px;
      }
      @include mediaQueryScreen(tabletX) {
        width: 385px;
      }
    }
  }
}
