@import "../../assets/styles/partials/allPartialFile";
.main__container {
  display: flex;
  img {
    @include mediaQueryScreen(tablet) {
      display: none;
    }
    @include mediaQueryScreen(phoneX) {
      display: none;
    }
  }
  .left__banner {
    flex: 1;
    img {
      width: 680px;
      @include mediaQueryScreen(desktop) {
        width: 480px;
      }
      @include mediaQueryScreen(tabletX) {
        width: 100%;
      }
    }
  }
  .right__side {
    padding-right: 62px;
    flex: 1;
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 500px;
      background-color: #f9f9f97a;
      margin: 30px auto;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 0 7px -4px #333;
      .form__header {
        margin-bottom: 12px;
        @include fontStyle(40px, inherit, $font_weight_600);
        span {
          color: $primary_orange;
        }
        @include mediaQueryScreen(desktop) {
          font-size: 35px;
        }
        @include mediaQueryScreen(tabletX) {
          font-size: 30px;
        }
        @include mediaQueryScreen(tablet) {
          font-size: 27px;
          text-align: center;
        }
        @include mediaQueryScreen(phoneX) {
          font-size: 22px;
          text-align: center;
        }
      }
      .input__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        position: relative;
        a {
          display: inline-block;
          text-decoration: none;
        }
        label {
          @include fontStyle($font_20, $primary_black, $font_weight_600);
          text-transform: capitalize;
          span {
            color: red;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_18;
          }
          @include mediaQueryScreen(tablet) {
            font-size: 15px;
          }
          @include mediaQueryScreen(phoneX) {
            font-size: 13px;
          }
        }
        .input__field {
          padding: 16px;
          height: 63px;
          background: $primary_white;
          border: 0.755px solid #e5e5e5;
          box-shadow: 0px -3.775px 37.75px rgba(200, 200, 200, 0.25);
          border-radius: $border_radius_xs;
          font-size: 16px;
          outline: none;
          &::placeholder {
            color: #a4a4a4;
          }
          @include mediaQueryScreen(tabletX) {
            height: 54px;
            padding: 12px;
          }
          @include mediaQueryScreen(tablet) {
            height: 48px;
            padding: 9px;
            font-size: 15px;
          }
          @include mediaQueryScreen(phoneX) {
            height: 40px;
            padding: 7px;
            font-size: 14px;
          }
        }
        .forgot__style {
          margin-top: -20px;
          text-decoration: underline;
          @include fontStyle($font_20, #c73939, $font_weight_500);
          @include mediaQueryScreen(desktop) {
            font-size: $font_18;
          }
          @include mediaQueryScreen(tabletX) {
            margin-top: -13px;
          }
          @include mediaQueryScreen(tablet) {
            font-size: 15px;
            margin-top: -3px;
          }
        }
        @include mediaQueryScreen(tabletX) {
          gap: 1.5rem;
        }
        @include mediaQueryScreen(tablet) {
          gap: 1rem;
        }
        @include mediaQueryScreen(phoneX) {
          gap: 0.9rem;
        }
      }
      button {
        margin-top: 15px;
        font-weight: 400;
        padding: 10px;
        border: 0;
        background-color: #f32020;
        border-radius: 7px;
        cursor: pointer;
        @include fontStyle($font_24, $primary_white, $font_weight_400);
        @include mediaQueryScreen(desktop) {
          font-size: 1.25rem;
        }
        @include mediaQueryScreen(tabletX) {
          font-size: 1rem;
          margin-top: 2px;
          padding: 25px;
        }
        @include mediaQueryScreen(tablet) {
          font-size: 1rem;
          margin-top: 0px;
          padding: 13px;
        }
        @include mediaQueryScreen(phoneX) {
          font-size: 0.88rem;
          margin-top: 0px;
          padding: 4px;
        }
      }
      @include mediaQueryScreen(desktop) {
        margin-top: 145px;
      }
      @include mediaQueryScreen(tabletX) {
        margin-top: 120px;
        gap: 33px;
      }
      @include mediaQueryScreen(tablet) {
        gap: 1.5rem;
        margin-top: 94px;
      }
      @include mediaQueryScreen(phoneX) {
        gap: 2rem;
        // margin-top: 6;
      }
    }

    .footer__main {
      margin-top: $spacing_md;
      margin-bottom: 22px;
      flex-direction: column;
      @include alignCenter(center, center, 1.5rem);
      div:nth-child(1) {
        @include fontStyle($font_20, inherit, $font_weight_500);
        .link__signup {
          color: black;
          text-decoration: none;
        }
        span {
          color: #868686;
        }
        @include mediaQueryScreen(tabletX) {
          font-size: $font_16;
        }
        @include mediaQueryScreen(tablet) {
          font-size: $font_14;
        }
        @include mediaQueryScreen(phoneX) {
          font-size: $font_14;
        }
      }

      div:nth-child(2) {
        background: #ffffff;
        border: 2px solid #f0f0f0 !important;
        border-radius: 10px;
        padding: 11px 9px 11px 7px;
        box-shadow: 7px -8px 0px -1px #f0f0f0 !important;
        .note__signup {
          display: flex;
          gap: 25px;
          letter-spacing: 0.005em;
          @include fontStyle(20px, #808080, $font_weight_500);
          outline: none;
          box-shadow: none !important;

          div:nth-child(1) {
            border: 4px solid #dc4f4f;
            border-radius: 2px;
          }
          div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 0px;
            border: none !important;
            box-shadow: none !important;
            @include mediaQueryScreen(phoneX) {
              padding: 0px;
            }
            @include mediaQueryScreen(desktop) {
              font-size: $font_18;
              gap: 1.5rem;
            }
            @include mediaQueryScreen(tabletX) {
              font-size: 0.9rem;
              gap: 1rem;
            }
            @include mediaQueryScreen(tablet) {
              font-size: $font_16;
            }
            @include mediaQueryScreen(phoneX) {
              font-size: $font_14;
            }
          }
          @include mediaQueryScreen(desktop) {
            gap: 20px;
          }
          @include mediaQueryScreen(tabletX) {
            gap: 18px;
          }
        }
      }
      @include mediaQueryScreen(tabletX) {
        margin-top: $spacing_sm;
        margin-bottom: $spacing_20;
      }
    }

    @include mediaQueryScreen(tabletX) {
      margin-right: 33px;
    }
    @include mediaQueryScreen(tablet) {
      margin-right: 55px;
      margin-left: 55px;
    }
    @include mediaQueryScreen(phoneX) {
      margin-right: 25px;
      margin-left: 25px;
    }
  }
}
