@import "../../assets/styles/partials/allPartialFile";
.parentLockModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 995px;
  // bgcolor: 'background.paper;
  background-color: white;
  border-radius: 40px;
}
.headerLock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  border-bottom: 1px solid #d1d1d1;
}
.modalLeftNameLock {
  font-size: 20px;
  font-weight: 400;
}
.closeButtonLock {
  color: white;
  background: rgb(245, 126, 42);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personAndCameraParentLock {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.cameraIconLock {
  position: absolute;
  background: rgb(245, 126, 42);
  width: 41.8px;
  height: 41.8px;
  padding: 5px;
  border-radius: 50%;
  top: 135px;
  left: 545px;
  cursor: pointer;
}
.personIconLock {
  cursor: pointer;
}
.bodyLock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0px 38px;
}
.textFieldStylingLock {
  width: 100%;
  height: 54px;
  border-radius: 48px;
  margin-bottom: 10px;
  border: 1px solid var(--light-gray, #cdcdcd);
  padding: 0px 20px;
  outline: none;
  transition: border-color 0.3s ease;
}
.eyeIconStylingLock{
  position: absolute;
  left: 380px;
  top: 54px;
  cursor: pointer;
}
.btnParentLock{
  text-align: center;
  .btnPassword{
    width: 350px;
    height: 45px;
    border-radius: 16px;
    color: white;
    background: rgb(245, 126, 42);
    margin: 40px 0px;
  }
}
.btnParentLock{
  text-align: center;
  .btnPassword:hover{
    color: white;
    background: rgb(245, 126, 42);
  }
}

@media (max-width: 1260px) {
  .parentLockModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: white;
    border-radius: 40px;
  }
  .bodyLock {
    display: block;
    gap: 15px;
  }
  .personIconLock {
    width: 100px;
  }
  .cameraIconLock {
    position: absolute;
    background: rgb(245, 126, 42);
    width: 31.8px;
    height: 31.8px;
    padding: 3px;
    border-radius: 50%;
    top: 85px;
    left: 380px;
    cursor: pointer;
  }
  .labelStylingLock {
    font-size: 16px;
    font-weight: 300px;
    line-height: 18.3px;
  }
  .textFieldStylingLock {
    width: 100%;
    height: 44px;
    border-radius: 48px;
    margin-bottom: 10px;
    border: 1px solid var(--light-gray, #cdcdcd);
    padding: 0px 20px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .eyeIconStylingLock{
    position: absolute;
    left: 580px;
    top: 54px;
    cursor: pointer;
  }
  .btnParentLock{
    text-align: center;
    .btnPassword{
      width: 95%;
    }
  }
}

@media (max-width: 851px) {
  .parentLockModal {
    width: 500px;
  }
  .headerLock{
    padding: 18px;
  }
  .personIconLock {
    width: 60px;
  }
  .cameraIconLock {
    position: absolute;
    background: rgb(245, 126, 42);
    width: 21.8px;
    height: 21.8px;
    padding: 3px;
    border-radius: 50%;
    top: 50px;
    left: 265px;
    cursor: pointer;
  }
  .labelStylingLock {
    font-size: 14px;
    font-weight: 300px;
    line-height: 14.3px;
  }
  .eyeIconStylingLock{
    position: absolute;
    left: 380px;
    top: 54px;
    cursor: pointer;
  }

}