@import "../../assets/styles/partials/allPartialFile";

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 100px 0 40px;
    @include mediaQueryScreen(desktopX) {
      padding: 15px 100px 0 40px;
    }
    @include mediaQueryScreen(desktopXX) {
      padding: 3vw 7vw 3vw 3vw;
    }
    @include mediaQueryScreen(desktop) {
      padding: 25px 30px 25px 30px;
    }
    @include mediaQueryScreen(tablet) {
      padding: 30px 15px 30px 15px;
    }
    flex: 1;
    .formHeader {
      @include mediaQueryScreen(tablet) {
        text-align: center;
      }
      img {
        @include mediaQueryScreen(desktopXX) {
          width: 15vw;
        }
      }
      h1 {
        @include fontStyle($font_32, $primary_black, $font_weight_400);
        margin: 15px 0 10px;
        @include mediaQueryScreen(desktopXX) {
          font-size: 2.5vw;
          margin: 1vw 0;
        }
        @include mediaQueryScreen(desktop) {
          font-size: $font_24;
          margin: 10px 0 5px;
        }
        span {
          color: $primary_orange;
        }
      }
      p {
        @include fontStyle($font_20, $primary_black, $font_weight_300);
        margin: 0 0 10px;
        @include mediaQueryScreen(desktopXX) {
          font-size: 1vw;
          margin-bottom: 1vw;
        }
      }
    }
    .dropdownSelect {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 5px;
      flex-wrap: wrap;
      gap: 15px;
      padding: 0px 38px;
    }
    .inputMain {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;
      position: relative;

      label {
        @include fontStyle($font_18, $primary_black, $font_weight_400);
        text-transform: capitalize;
        margin-bottom: 5px;
        @include mediaQueryScreen(desktopXX) {
          font-size: 1.5vw;
          margin-bottom: 0.5vw;
        }
        span {
          color: $primary_red;
        }
        @include mediaQueryScreen(desktop) {
          font-size: $font_18;
        }
        @include mediaQueryScreen(tablet) {
          font-size: 15px;
        }
        @include mediaQueryScreen(phoneX) {
          font-size: 13px;
        }
      }
      .inputField {
        padding: 15px;
        height: 50px;
        background: $primary_white;
        border: 1px solid #dfdfdf;
        border-radius: 48px;
        @include fontStyle($font_16, $primary_black, $font_weight_400);
        outline: none;
        @include mediaQueryScreen(desktopXX) {
          height: 3vw;
          border-radius: 6vw;
          padding: 1vw;
          font-size: 1vw;
        }
        &::placeholder {
          color: #a4a4a4;
        }
      }
      .rememberForgot {
        display: flex;
        margin-top: 20px;
        @include mediaQueryScreen(desktopXX) {
          margin-top: 1vw;
          margin-bottom: 1vw;
        }
        @include mediaQueryScreen(desktop) {
          margin-top: 10px;
        }
        .remCheckbox {
          flex: 1;
          font-weight: 300;
          @include alignCenter(center, inherit, 3px);
          @include fontStyle($font_16, $primary_black, $font_weight_300);
          @include mediaQueryScreen(desktopXX) {
            gap: 0.5vw;
          }
          @include mediaQueryScreen(desktopXX) {
            font-size: 1vw;
          }
          @include mediaQueryScreen(desktop) {
            font-size: $font_14;
          }
          input {
            @include mediaQueryScreen(desktopXX) {
              width: 1vw;
              height: 1vw;
            }
          }
        }
        a {
          flex: 1;
          display: inline-block;
          text-decoration: none;
          text-align: right;
          .forgotStyle {
            text-decoration: none;
            @include fontStyle($font_16, $primary_black, $font_weight_400);
            @include mediaQueryScreen(desktopXX) {
              font-size: 1vw;
            }
            @include mediaQueryScreen(desktop) {
              font-size: $font_14;
            }
            @include mediaQueryScreen(tabletX) {
              font-size: $font_14;
            }
            @include mediaQueryScreen(tablet) {
              font-size: $font_14;
            }
          }
        }
      }
    }
    button {
      margin-top: 15px;
      font-weight: 400;
      padding: 10px;
      border: 0;
      background-color: $primary_orange;
      border-radius: 48px;
      cursor: pointer;
      box-shadow: 0 4px 5px 0 #f57e2a;
      @include fontStyle($font_24, $primary_white, $font_weight_400);
      @include mediaQueryScreen(desktopXX) {
        padding: 0.7vw;
        border-radius: 7vw;
        font-size: 1.5vw;
        margin-top: 1vw;
      }
      @include mediaQueryScreen(desktop) {
        font-size: $font_20;
      }
      @include mediaQueryScreen(phoneX) {
        font-size: $font_16;
      }
    }
  }